{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>F3</title>
</head>
<body>


	<video class="backvideo" src="{% static 'img/F3.mp4'%}" autoplay muted loop></video>
	<div class="main_page">
		<div class="content_page">

			<a href="https://instagram.com/f3studio.kyiv?igshid=YmMyMTA2M2Y=">
				<div class="butlink" id="inst">
					<img src="{% static 'img/instagram.png'%}" class="fb">
					<p>Instagram</p>
				</div>
			</a>

			<a href="https://t.me/F3fitness">
				<div class="butlink" id="tg">
					<img src="{% static 'img/telegram.png'%}" class="fb">
					<p>Telegram</p>
				</div>
			</a>

			<a href="https://www.facebook.com/people/f3studiokyiv/100087665282686/">
				<div class="butlink" id="fb">
					<img src="{% static 'img/facebook.png'%}" class="fb">
					<p>Facebook</p>
				</div>
			</a>
			
			
			<!-- <div class="butlink" id="gmaps">
				<img src="{% static 'img/gmaps.png'%}" class="gmaps">
				<p>Google map</p>
			</div> -->

			<a href="tel:+380999749915">
				<div class="butlink" id="call">
					<p>Зв'язок</p>
				</div>
			</a>
			
		</div>
	</div>
</body>
</html>




