{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>F3</title>
</head>
<body>
	<div class="main_page">
		<div class="content_page">
			<div class="butlink" id="fb">
				<img src="{% static 'img/facebook.png'%}" class="fb">
				<p>Facebook</p>
			</div>
			<a href="https://instagram.com/f3studio.kyiv?igshid=YmMyMTA2M2Y=">
				<div class="butlink" id="inst">
					<img src="{% static 'img/instagram.png'%}" class="fb">
					<p>Instagram</p>
				</div>
			</a>
			<div class="butlink" id="tg">
				<img src="{% static 'img/telegram.png'%}" class="fb">
				<p>Telegram</p>
			</div>
			
			<div class="butlink" id="gmaps">
				<img src="{% static 'img/gmaps.png'%}" class="gmaps">
				<p>Google map</p>
			</div>
			<div class="butlink" id="call">
				
				<p>Зв'язок</p>
			</div>
		</div>
	</div>
</body>
</html>


